#cleaner {
    background-image: url(../../../public/assets/images/portfolio-allclear-window-cleaning.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fuel-calculator {
    background-image: url(../../../public//assets/images/fuel-cost-calculator.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#weather {
    background-image: url(../../../public/assets/images/app-screenshot.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
}

.gitLink {
    color: white !important;
    text-decoration: underline;
}

small {
    color: white;
}

li .bi {
    color: aliceblue;
}