.contactWrapper {
    padding: 5px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

fieldset {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 25px;
    justify-content: center;
}

textarea {
    word-wrap: break-word;
    word-break: break-all;
    overflow: scroll;
    white-space: normal;
    min-height: 25vh;
    width: 30vh;

}

/* Contact Section */

#contactDetails {
    grid-area: contactDetails;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: space-around;
}

.contactCards {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactCards p {
    user-select: all;
}

.contactCards:hover {
    transition: 0.3s;
    transform: scale(1.15); 
}